.me{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 712px;
  width: 100%;
  background-color: linear-gradient(180deg, #333333 0%, rgba(37, 37, 37, 0.87) 55.13%, rgba(37, 37, 37, 0.79) 100%);
}


.title{
  font-family: var(--type-first);
  font-style: normal;
  font-weight: 700;

  background: -webkit-linear-gradient(45deg, #FFFFFF 40.06%, #DFBD65 111.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  margin-top: .5rem;
  font-size: 4rem;
}

.picture{
  display: flex;
  position: relative;
  top: 2rem;
  justify-content: center;
  margin: auto;
}

.picture img{
  border-radius: 100%;

  filter: drop-shadow(2px 2px 5px rgba(223, 189, 101, 0.75));
}

#subtitle{
  font-size: 2.2rem;
  font-family: var(--type-first);
  color: #DFBD65;
  font-style: italic;
  font-size: 700;
  text-shadow: 2px 6px 4px #58430E;
}

.nome{
  font-size: 1.6rem;
  font-family: var(--type-third);
  color: #FFF;
  text-shadow: 2px 6px 4px #58430E;
  margin-top: 8rem;
}

.ctext{
  font-size: 1rem;
  color: #D9D9D9;
  cursor: default;
  font-family: var(--type-third);

  text-align: justify;
  margin-top: 1rem;
  max-width: 1000px;
  
}

.sectionXp{
  background: #272727;
  width: 100%;
  padding-top: 2rem;
  display: block;
  
}

.experiencias {
  display: grid;  grid-template-areas: 
    "left center right";
  gap: 4rem;
  grid-auto-rows: min-content;
  justify-content: center;
  align-items: center;
}

#subtitleXp{
  font-size: 2.2rem;
  font-family: var(--type-first);
  color: #DFBD65;
  font-style: italic;
  font-size: 700;
  text-shadow: 2px 6px 4px #58430E;
  margin-top: 2rem;
  margin-bottom: 3rem;
  /* padding-left: 15rem; */

}

.xpCard{
  background: #333333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-bottom: 4rem;
  display: block;
  max-width: 60rem;
  }

  .setaEsquerda{
    grid-area: left;
    cursor: pointer;
    width: 5rem;
  }

  .setaDireita{
    grid-area: right;
    cursor: pointer;
    width: 5rem;
  }

.cardWrapped{  
  grid-area: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xpCard a, p, h1, h2{
  margin-left:  4rem;
}

.jobTitle{

  font-size: 2.5rem;
  font-family: var(--type-first);
  color: #FFF;
  font-size: 700;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
  padding-top: 2rem;
}

.jobSubtitle{

  font-size: 1.5rem;
  font-family: var(--type-first);
  color: #DFBD65;
  font-size: 700;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
}

.jobPeriod{


  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;

color: #D7D7D7;
}

.jobDescription{
  
  font-size: 1.3rem;
  padding-bottom: 2.5rem;
  padding-right: 5rem;
}